.property_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.property_contentbox{
    max-width: 920px;
    width: 100%;
    padding: 3rem 1rem;
}
.property_contentbox > h1{
    margin: 2rem 0;
}
.property_contentbox > p{
    line-height: 1.5;
    margin: 1rem 0;
}