.register_container{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px orange;
}
.register_box{
    min-width: 24rem;
    border: 1px solid var(--secondary);
    border-radius: 8px;
    padding: 1.5rem 1.5rem;
    box-shadow: 0 0 8px 1px rgba(var(--secondary-base),0.2);
}
.register_box>h2{
    font-size: 2rem;
    text-align: center;
    line-height: 1.75rem;
    font-weight: 700;
    margin: 0rem 0 1.5rem;
}

/* register form */
.register_box>form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.register_input{
    border: solid 1px var(--secondary);
    border-radius: 10px;
    padding: 5px 1rem;
    transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    row-gap: 3px;
}
.register_input:hover{
    border-color:var(--input-border);
}
.register_input:focus-within{
    border-color:var(--input-border);
    box-shadow: 0 0 0 1.5px white, 0 0 2px 3px var(--input-border);
}
.register_input>input{
    border: none;
}
.register_input>input:focus{
    outline: none;
}
.register_input>label{
    font-size: 12px;
}
.register_input:hover>label{
    color:var(--input-border);
}
.register_input:focus-within>label{
    color:var(--input-border);
}

/* button */

.register_button{
    width: 100%;
}
.register_button > button{
    width: 100%;
    border: none;
    background-color: var(--input-border);
    padding: 1rem 1.5rem;
    border-radius: 12px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.register_button>button:hover{
    box-shadow: 0 0 0 1.5px white, 0 0 2px 3px var(--input-border);
}

/* separator */

.register_separator{
    margin: 1.5rem 0;
    width: 100%;
    height: 0.5px;
    background-color: var(--secondary);
}

/* already exist */

.register_already{
    display: flex;
    column-gap: 3px;
    color: rgba(var(--secondary-base),1);
    align-items: center;
    justify-content: center;
    font-size: 14px;
}